@use 'sass:map';
@use '@finastra/fds-theme' as fds;
@use '@finastra/angular-theme' as angular-theme;
@use '@finastra/angular-theme/base';

@use '../../../libs/cdk/global-search/src/lib/global-search.theme.scss';
@use '@finastra/angular-components/skeleton-text/src/skeleton-text.theme' as skeleton;

@include angular-theme.uxg-core();

// Add components typography mixins inside this mixin
@mixin app-typography($typography) {
}

// Add components theme mixins inside this mixin
@mixin app-theme($theme) {
  @include angular-theme.uxg-material-theme($theme);
  @include global-search.theme($theme);
  @include skeleton.theme($theme);
}

@include app-typography(angular-theme.$typography);

@include app-theme(angular-theme.$light-theme);
@include fds.use-light-theme();

@media (prefers-color-scheme: dark) {
  @include app-theme(angular-theme.$dark-theme);
  @include fds.use-dark-theme();
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

uxg-global-nav {
  h6 {
    text-align: center;
  }
}

[aria-label='Menu'] {
  display: none !important;
}

.full-width {
  width: 100%;
}
